.icon-container {
  border-right: 2px solid white;
  margin-right: 0.5rem;
}
.icon {
  font-size: 1.6rem;
  padding-right: 0.5rem;
}
.temperature {
  font-size: 0.9rem;
  margin-top: 0;
}

.description {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
  text-transform: capitalize;
}
