:root {
  --bg-color: #252934;
  --main-color: #2e3441;
  --text-color: white;
  --accent-color: #b1ede8;
  --bookmark-color: cyan;
  --menu-color: #2e3441;
  --black: #151515;
  --roboto: 'Roboto', sans-serif;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  overflow: hidden;
}
